.conteneur-voyage {
    width: 777px;
    height: 253px;
    left: 16px;
    top: 186px;
    position: absolute;
    color: black;
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    word-wrap: break-word;
  }
  